* {
    box-sizing: border-box;
}

.calculator {
    border: 2px solid black;
    height: 450px;
    width: 400px;
    background-color: orangered;
    margin: 50px auto;
    border-radius: 8px;
}

.display {
    height: 5em;
    background-color: azure;
    margin: 7px;
    border-radius: 7px;

}

.container {
    flex: 0 1 auto;
    margin: 35px 7px 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7px;
    justify-content: space-between;
} 

.button {
    font-size: 30px;
    font-weight: 800;
    width: 90px; 
    height: 75px; 
}